
html {
    box-sizing: border-box;
}

body {
/*    margin: 0;
    min-height: 100vh;*/
	font: 'Raleway', sans-serif;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	top: 15%;
	background: linear-gradient(to right,red, yellow);
}

h1 {
	font: 600 3.5em 'Raleway', sans-serif;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-transform: none;
	letter-spacing: 0.01em;
}

.container {
	display: flex;
	justify-content: center;
	margin: 10px;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: #333;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

/*Modile and Smaller Screens*/
@media (max-width: 768px) {
    body {
        font-size: 20px; /* Adjust the font size for smaller screens */
    }

    h1 {
        font-size: 1.5em;
        letter-spacing: 0.1em;
        word-wrap: break-word;
    }

    .container {
        flex-direction: column; /* Stack the button below the color inputs */
    }

    button {
        margin-top: 10px; /* Add some spacing between the button and the inputs */
    }
}
